@import 'base.scss';
@import 'animate';

html,body {
	width:100%;
	height: 100%;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#head {
  position: relative;
  min-height: 60px;
  background: linear-gradient($head-high-light 0%, $head 67%, $head-deep-shadow 100%);
  @extend .ff-tend;
  box-shadow:0px 6px 5px -5px rgba($head-deep-shadow, .9);
  z-index: 10;
	.logo {
    position: absolute;
    top: 50%;
    left: 50%;
		color: #fff;
		font-size: 30px;
    transform: translateX(-50%) translateY(-50%);
    @extend .letter-press;
	}
	#g-nav {
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
		.menu {
			li {
				display: inline-block;
				margin-right: 10px;
				a {
          display: block;
          width: 40px;
          min-height: 40px;
					color: $head-text;
					background: linear-gradient($head-light 0%, $head-shadow 100%);
          border-radius: 4px;
          border-top:1px solid rgba($head-white, .8);
          box-shadow: 0px 0px 0px 1px #000,0px 0px 0px 1px $head-white;
          @extend .letter-press;
          @extend %iconfont-set;
          font-size: 24px;
          &:active {
            background: linear-gradient($head 0%, $head-deep-shadow 100%);
            border-top-color: $head-shadow;
            color: $head-text-act;
          }
				}
			}
		}
	}//gNav
}//head

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  #nav-panel {
    position: absolute;
    width: 100%;
    background: $wood; 
    box-shadow: 0px 20px 26px -14px $wood-deep-shadow;
    z-index: 6;
    @include auto-prefix(transition, .9s ease, transform);
    @include auto-prefix(transform-origin,top center);
    @include auto-prefix(transform,perspective(900) rotateX(-90deg));
    #search {
      width: 110px;
      min-height: 24px;
    }
    #controller {
      min-height: 50px;
    }
  }
	#archive-stand {
		position: relative;
    opacity: 0;
    //height: 100%;
    padding:0 10px 10px 10px;
    box-sizing: border-box;
		transform-style: preserve-3d;
		perspective: 800px;
    transition: opacity .8s ease-out .3s;
  	&:before,&:after {
  		//@extend %pseudo-side-panel;
      content: '';
      position: absolute;
      top: 0;
      width: 5%;
      height: 100%;
      background: $wood-shadow-low; // fallback
      background: -moz-linear-gradient(left, $wood-shadow-high 0%, $wood-shadow-low 100%); // FF3.6+
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,$wood-shadow-high), color-stop(100%,$wood-shadow-low)); // Chrome,Safari4+
      background: -webkit-linear-gradient(left, $wood-shadow-high 0%,$wood-shadow-low 100%); //Chrome10+,Safari5.1+ 
      background: -o-linear-gradient(left, $wood-shadow-high 0%,$wood-shadow-low 100%); // Opera 11.10+
      background: -ms-linear-gradient(left, $wood-shadow-high 0%,$wood-shadow-low 100%); // IE10+
      background: linear-gradient(to right, $wood-shadow-high 0%,$wood-shadow-low 100%); // W3C
      z-index: -1;
  	}
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }

		.shelf {
			transform-style: preserve-3d;
			perspective: 800px;
			width: 100%;
			min-height: 140px;
			&:before,&:after {
				@extend %pseudo-back-panel;
			}
			&:before {
        width: 99%;
        left: 50%;
				transform: rotateX(10deg) translateX(-50%) translateZ(-10px);
				//box-shadow: inset 0px 13px 10px 7px rgba(64, 28, 7, .5),
				//			inset 0px 26px 32px 8px rgba(123, 83, 46, 0.9);
				box-shadow: inset 0 -4px 4px -2px rgba(64, 28, 7, .5);
			}
			&:after {
				height: 10px;
				//bottom: 0;
				border-radius: 2px;
        //background: linear-gradient($wood-shadow-high 0%, $wood 100%);
			}
			.item-list {
				padding: 20px 100px 0;
				@extend .cf;
				li {
					float: left;
					.item {
						transform-style: preserve-3d;
						perspective: 1000px;
						width: 80px;
						min-height: 120px;
						cursor: pointer;
						margin-right: 10px;
						@include white-page(-8deg,-126deg);
						.detail {
							width: 100%;
							min-height: 120px;
							background: #e8e8e8;
							.detail-in {
  							display: none;
							}
						}//detail
					}//.item
				}
			}//.item-list
      + .shelf {
  			&:before {
  				box-shadow: inset 0 -4px 4px -2px rgba(64, 28, 7, .5),
  				            inset 0 12px 10px -2px rgba(64,28,7,.5);
  			}
      }
		}//.shelf
	}//archive-stand

  &.archives {
    #nav-panel {
      //@include auto-prefix(animation,nav-panel-open 1s ease normal 1 forwards);
      @include auto-prefix(transform,perspective(900) rotateX(0deg));
    }
    #archive-stand {
      //@include auto-prefix(animation,shelf-in .8s ease-out 1s normal 1 forwards);
      opacity: 1;
    }
  }
}//wrapper