@charset "UTF-8";
/* CSS Document */
/* line 7, ../sass/base.scss */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/base.scss */
fieldset, img {
  border: 0;
}

/* line 10, ../sass/base.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 11, ../sass/base.scss */
ol, ul, li {
  list-style: none;
}

/* line 12, ../sass/base.scss */
caption, th {
  text-align: left;
}

/* line 13, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 14, ../sass/base.scss */
q:before, q:after {
  content: '';
}

/* line 16, ../sass/base.scss */
strong {
  font-weight: bold;
}

/* line 17, ../sass/base.scss */
em {
  font-style: italic;
}

/* line 18, ../sass/base.scss */
img {
  border: none;
}

/* line 23, ../sass/base.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 24, ../sass/base.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/base.scss */
.cf {
  *zoom: 1;
}

/* line 185, ../sass/base.scss */
.ff-stark {
  font-family: 'Stark', sans-serif;
  font-weight: 100;
}

/* line 190, ../sass/base.scss */
.ff-tend {
  font-family: 'tenderness';
  font-weight: 100;
}

/* line 195, ../sass/base.scss */
.ff-icon {
  font-family: 'iconfont';
  font-weight: 100;
}

/* line 200, ../sass/base.scss */
.letter-press {
  text-shadow: -1px -1px 2px #223a2f;
}

@font-face {
  font-family: 'Stark';
  src: url("../fonts/Stark.otf") format("opentype");
}

@font-face {
  font-family: 'tenderness';
  src: url("../fonts/tenderness.otf") format("opentype");
}

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/icon/CONDENSEicon.eot");
  src: url("../fonts/icon/CONDENSEicon.woff") format("woff"), url("../fonts/icon/CONDENSEicon.otf") format("opentype"), url("../fonts/icon/CONDENSEicon.ttf") format("truetype");
}

/* line 243, ../sass/base.scss */
input {
  border-radius: 100px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 3px 1px #a8a8a8;
}

/* line 250, ../sass/base.scss */
a {
  text-decoration: none;
  color: #000;
}
