@charset "UTF-8";
/* CSS Document */
/* line 7, ../sass/base.scss */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/base.scss */
fieldset, img {
  border: 0;
}

/* line 10, ../sass/base.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 11, ../sass/base.scss */
ol, ul, li {
  list-style: none;
}

/* line 12, ../sass/base.scss */
caption, th {
  text-align: left;
}

/* line 13, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 14, ../sass/base.scss */
q:before, q:after {
  content: '';
}

/* line 16, ../sass/base.scss */
strong {
  font-weight: bold;
}

/* line 17, ../sass/base.scss */
em {
  font-style: italic;
}

/* line 18, ../sass/base.scss */
img {
  border: none;
}

/* line 23, ../sass/base.scss */
.cf:before, #wrapper #archive-stand .shelf .item-list:before, .cf:after, #wrapper #archive-stand .shelf .item-list:after {
  content: "";
  display: table;
}

/* line 24, ../sass/base.scss */
.cf:after, #wrapper #archive-stand .shelf .item-list:after {
  clear: both;
}

/* line 25, ../sass/base.scss */
.cf, #wrapper #archive-stand .shelf .item-list {
  *zoom: 1;
}

/* line 166, ../sass/base.scss */
#wrapper #archive-stand .shelf:before, #wrapper #archive-stand .shelf:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #deba84;
}

/* line 174, ../sass/base.scss */
.ff-stark {
  font-family: 'Stark', sans-serif;
  font-weight: 100;
}

/* line 179, ../sass/base.scss */
.ff-tend, #head {
  font-family: 'tenderness';
  font-weight: 100;
}

/* line 184, ../sass/base.scss */
.letter-press, #head .logo, #head #g-nav .menu li a {
  text-shadow: -1px -1px 2px #223a2f;
}

@font-face {
  font-family: 'Stark';
  src: url("../fonts/Stark.otf") format("opentype");
}

@font-face {
  font-family: 'tenderness';
  src: url("../fonts/tenderness.otf") format("opentype");
}

/* line 206, ../sass/base.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 3, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 9, ../sass/style.scss */
#head {
  position: relative;
  min-height: 60px;
  background: linear-gradient(#406d59 0%, #223a2f 80%, #0f1a15 100%);
  box-shadow: 0px 6px 5px -5px rgba(15, 26, 21, 0.9);
  z-index: 10;
}
/* line 16, ../sass/style.scss */
#head .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  transform: translateX(-50%) translateY(-50%);
}
/* line 25, ../sass/style.scss */
#head #g-nav {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
/* line 31, ../sass/style.scss */
#head #g-nav .menu li {
  display: inline-block;
  margin-right: 10px;
}
/* line 34, ../sass/style.scss */
#head #g-nav .menu li a {
  display: block;
  width: 40px;
  min-height: 40px;
  color: #fff;
  background: linear-gradient(#315444 0%, #192a22 100%);
  border-radius: 4px;
  border-top: 1px solid rgba(152, 195, 175, 0.8);
  box-shadow: 0px 0px 0px 1px black, 0px 0px 0px 1px #98c3af;
  font-size: 24px;
}
/* line 45, ../sass/style.scss */
#head #g-nav .menu li a:active {
  background: linear-gradient(#223a2f 0%, #0f1a15 100%);
}

/* line 54, ../sass/style.scss */
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 60, ../sass/style.scss */
#wrapper:before, #wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background: #4b351a;
  background: -moz-linear-gradient(left, #4b351a 0%, #4b351a 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4b351a), color-stop(100%, #4b351a));
  background: -webkit-linear-gradient(left, #4b351a 0%, #4b351a 100%);
  background: -o-linear-gradient(left, #4b351a 0%, #4b351a 100%);
  background: -ms-linear-gradient(left, #4b351a 0%, #4b351a 100%);
  background: linear-gradient(to right, #4b351a 0%, #4b351a 100%);
  z-index: -1;
}
/* line 76, ../sass/style.scss */
#wrapper:before {
  transform: rotateY(30deg) translateX(-30%);
}
/* line 79, ../sass/style.scss */
#wrapper:after {
  transform: rotateY(-30deg) translateX(30%);
  right: 0;
}
/* line 84, ../sass/style.scss */
#wrapper #nav-panel {
  position: relative;
  min-height: 50px;
  background: #e4ceb3;
  box-shadow: 0px 20px 26px -10px #4b351a;
  z-index: 6;
}
/* line 105, ../sass/style.scss */
#wrapper #archive-stand {
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
  min-height: 100px;
}
/* line 110, ../sass/style.scss */
#wrapper #archive-stand:before {
  transform: rotateY(-90deg);
}
/* line 113, ../sass/style.scss */
#wrapper #archive-stand:after {
  top: 0;
  right: 0;
  transform: rotateY(90deg);
}
/* line 118, ../sass/style.scss */
#wrapper #archive-stand .shelf {
  transform-style: preserve-3d;
  perspective: 800px;
  width: 100%;
  min-height: 140px;
}
/* line 126, ../sass/style.scss */
#wrapper #archive-stand .shelf:before {
  transform: rotateX(10deg) translateY(-10px) translateZ(-10px);
  box-shadow: inset 0px 13px 10px 7px rgba(64, 28, 7, 0.5), inset 0px 26px 32px 8px rgba(123, 83, 46, 0.9);
}
/* line 132, ../sass/style.scss */
#wrapper #archive-stand .shelf:after {
  height: 10px;
  bottom: 0;
  border-radius: 2px;
}
/* line 138, ../sass/style.scss */
#wrapper #archive-stand .shelf .item-list {
  padding: 20px 100px 10px;
}
/* line 141, ../sass/style.scss */
#wrapper #archive-stand .shelf .item-list li {
  float: left;
}
/* line 143, ../sass/style.scss */
#wrapper #archive-stand .shelf .item-list li .item {
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 80px;
  min-height: 120px;
  cursor: pointer;
  margin-right: 10px;
}
/* line 115, ../sass/base.scss */
#wrapper #archive-stand .shelf .item-list li .item:before {
  content: '';
  width: inherit;
  height: 100%;
  position: absolute;
  transform: rotateY(-8deg);
  transform-origin: left;
  background: silver;
  transition: all .8s ease-out,z-index .6s ease;
}
/* line 126, ../sass/base.scss */
#wrapper #archive-stand .shelf .item-list li .item > .detail:before {
  content: '';
  width: inherit;
  height: 100%;
  position: absolute;
  transform: rotateY(-4.8deg);
  transform-origin: left;
  background: gray;
  transition: all .8s ease-out,z-index .6s ease;
}
/* line 138, ../sass/base.scss */
#wrapper #archive-stand .shelf .item-list li .item:hover:before {
  transform: rotateY(-126deg);
}
/* line 142, ../sass/base.scss */
#wrapper #archive-stand .shelf .item-list li .item:hover > .detail:before {
  transform: rotateY(-75.6deg);
}
/* line 151, ../sass/style.scss */
#wrapper #archive-stand .shelf .item-list li .item .detail {
  width: 100%;
  min-height: 120px;
  background: #e8e8e8;
}
/* line 155, ../sass/style.scss */
#wrapper #archive-stand .shelf .item-list li .item .detail .detail-in {
  display: none;
}
